* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    font-weight: normal;

}

#intro-text h1 {
    font-size: 50px;
    color: white;


}

.link--cta {
    text-decoration: none;
    color: aquamarine;
}
.case {
    color: aquamarine;
    font-size: 16px;
}

.video {
    align-content: center;
}

.travel-text {
    color: white;
    font-weight: 300px;
    font-size: 42px;
}

.container {
    color: gray;
    font-size: 21px;

}

.camp {
    display: flex;
    margin: auto auto;
}

.phone {
    padding-top: 20px;
}

.soon {
    color: white;
    font-size: 42px;
}


